html {
	margin: 0;
	background-image: url('https://s3.ap-south-1.amazonaws.com/zoom-blog-image/2015/08/summer-road-trip.jpg');
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}

.App {
	text-align: center;
	display: flex;
	justify-content: center;
	font-family: Roboto Condensed;
	
}

.mainContent {
	width: 500px;
	background-color: rgba(250, 250, 250, .7);
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-wrap: wrap;
}

.header {
	text-align: center;
	background-color: rgba(0, 0, 0, .8);
	color: white;
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.brandTag {
	font-family: Bungee;
	font-size: 80px;
	margin: 10px;
}

.brandTag2 {
	font-family: Yanone Kaffeesatz;
	font-size: 60px;
	font-weight: 100;
	margin: 10px;
	padding-top: 15px;
}

.btnBox {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.btn {
	margin: 10px;
	padding: 15px;
	background-color: rgba(	204, 0, 0, .7);
	border-style: none;
	border-radius: 5px;
	color: white;
	cursor: pointer;
}

.btn:hover {
	background-color: rgba(	204, 0, 0, .5);
}

.logOutBtn {
	position: absolute;
	bottom: 0;
	right: 0;
	font-size: 12px;
}


.navBar {
	display: flex;
	flex-direction: row;
	list-style: none;
	justify-content: space-around;
	background-color: rgba(	204, 0, 0, .7);
	padding-left: 0;
	padding-right: 0;
	width: 500px;
	color: white;
	margin: 0;
}

.navBar span {
	text-decoration: none;
	display: block;
	padding: 10px;
	color: white;
	cursor: pointer;
	border-bottom: 2px solid rgba(204, 0, 0, .0);
	border-top: 2px solid rgba(204, 0, 0, .0);
	
}

.navBar span:hover {
	background: rgba(	204, 0, 0, .5);
	border-bottom: 2px solid black;
}

.navBar .active {
	font-weight: bolder;
	border-bottom: 2px solid black;
}


.filterBox {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.filterBox span {
	margin: 10px;
}

select, input {
	padding: 5px;
	border-radius: 5px;
}

.carBox {
	border: 1px solid black;
	background-color: white;
}

.carImg {
	width: 100px;
}

.errMsgCss {
	color: red;
}

.hidden {
	display: none;
}

